---
import MarketingLayout from "../layouts/MarketingLayout.astro";
---

<MarketingLayout
  title="Commercial Support"
  description="Tailored services and an enterprise subscription for companies using Rugix."
>
  <h1>Commercial Support</h1>

  <p>
    Rugix has been created by <a href="https://silitics.com">Silitics</a>, a
    young and aspiring software development and consulting company.
  </p>
  <p>
    With Rugix, our mission is to <strong>empower you to build innovative and
    robust devices with ease</strong>. Complementing our
    <a href="/open-source-commitment">open-source commitment</a>, we offer
    comprehensive commercial support tailored to your needs.
  </p>

  <p>Here are some examples of concrete services that we offer:</p>
  <ul>
    <li>
      We can <strong>take over system development</strong> from you, allowing
      you to focus on your application.
    </li>
    <li>
      We can <strong>advise you on system development</strong> (with Rugix)
      and make sure any potential issues are flagged early.
    </li>
    <li>
      We can <strong>advise you on fleet management solutions</strong> and
      everything surrounding remote updates.
    </li>
    <li>
      We can <strong>develop custom integrations</strong> for more advanced
      setups, for instance:
      <ul>
        <li>
          <strong>Setups with secure boot and encrypted storage,
          preventing manipulations and protecting your IP.</strong>
        </li>
        <li>
          Non-A/B setups with a recovery system triggered by a dead man's
          switch (or some other means).
        </li>
      </ul>
    </li>
    <li>
      We can <strong>develop an integration for other devices</strong> not
      supported by Rugix Bakery out of the box.
    </li>
    <li>
      We can <strong>develop an integration with other Linux
      distributions</strong> not supported by Rugix Bakery out of the box.
    </li>
  </ul>

  <p>
    In addition to tailored services, we also offer an <em>enterprise
    subscription</em> for companies using Rugix in their products. The
    enterprise subscription includes <strong>long-term support</strong> for
    selected Rugix versions, <strong>tailored advice and consulting</strong>
    for your product (at a reduced rate compared to non-subscription
    clients), <strong>priority email support</strong> in case you run into
    any issues, <strong>direct influence on Rugix's roadmap</strong>, and
    access to an <strong>enterprise library</strong> with ready-made
    integrations for a variety of different use cases and common challenges.
    The enterprise subscription ensures the consistent maintenance of Rugix
    while also providing you with tangible benefits in return.
  </p>

  <p>
    Ready to take your project to the next level? Contact us today to discuss
    how our services can help you achieve your goals. Reach out to us via
    <a href="mailto:contact@silitics.com">contact@silitics.com</a>.
  </p>
</MarketingLayout>
